body{
	font: 15px/1.5 Arial,helvetica,san-serif;
	padding:0;
	background-color;#f4f4f4;
}
/*overall*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	
}
ul{
	 margin:0px;
	 padding:0px; 
 }
 .button_1{
	 margin: 5px;
  height:38px;
  background:#f9c405;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
#main_welcome{
	background-color:#f9c405;
	height:800px;
	
}
.items{
	width:100%;
float:left;
	margin:auto;
}
.items ul{
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:16px;
} .items li{
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:16px;
	 
 }
.cool{
	 padding:15px;
	 background:#1e1e1f;
	 color:#ffffff;
	 margin-top:20px;
	 margin-bottom:20px;
 }
 .cool li,ul{
	 text-decoration:none;
	 padding-top: 10px;
    padding-bottom: 10px;
 }
 .cool a{
	text-decoration:none;
	color:#f9c405;
}
 /*headr*/
 header{
	 background:#1e1e1f;
	 color:#ffffff;
	 padding-top:30px;
	 min-height:70px;
	 border-bottom:#f9c405 3px solid;
 }
 header a{
	 color:#ffffff;
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:16px;
 }
 header li{
	 float: left;
	 display: inline;
	 padding:0 20px 0 20px;
 }
 
 header #branding{
	 float:left;
	  
 }
 header #branding h1{
	 margin:0;
}

 header nav{
	 float:right;
	  
 }
 header .highlight, header .current a{
	 color:#f9c405;
	 font-weight:bold;
 }
 header a:hover{
	 color:#f9c405;
	 font-weight:bold;
 }
 #showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* registration */
#registration{
	width:100%;
  padding:15px;
  color:#f9c405;
  background:#1e1e1f
}
#registration label{
  float:left;
  color:f9c405
}
#registration td{
  padding:5px;
  padding-right:50px;
}
#registration h1{
  float:left;
}
#registration form {
  margin-top:15px;
}

#registration input{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
padding:15px;
  color:#ffffff;
	background-color:#f9c405;
  margin-top:20px;
}
#heading3{
	background-color: #1e1e1f;
	padding:5px;
	margin-right: auto;
	border-bottom:#f9c405 10px solid;
}
#boxes .box{
  background:#35424a;
  float:left;
  text-align: center;
  width:30%;
   border-left: #f9c405 5px solid;
 	margin-right: 7px;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#leftside{
  float:left;
  width:20%;
  margin-top:0px;
}
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#f9c405;
}
 #slider{
	 width:720px;
	 height:400px;
	 overflow:hidden;
 }
 #slider .slides{
	 display:block;
	 width:6000px;
	 height:400px;
	 margin:0;
	 padding:0;
 }
 #slider .slide{
	 float:left;
	 list-style-type: none;
	 width:720px;
	 height:400px;
 }
 footer{
	 padding:20px;
	 margin-top:20px;
	 color:#ffffff;
	 background-color:#1e1e1f;
	 text-align:center;
 }
 
 /* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #registration h1,
  #registration form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #registration button, .quote button{
    display:block;
    width:100%;
  }

  #registration form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}